<%= render "layouts/navbar" %>

<div class="body-container">
  <div class="body-header">
    <h3>Search masks</h3>
  </div>

  <div id="search">
    <%= simple_form_for :search, url: masks_path, method: :get, html: { autocomplete: 'off', style: "display: flex;" } do |f| %>
        <div class="form-input-location light">
          <%= f.input :location, input_html: {value: @location}, label: false %>
        </div>
        <div class="form-input light" id="date">
          <% unless @full_time.nil? %>
            <% holder = "#{Date.parse(@full_time.chars.first(10).join).strftime('%B %d, %Y')} to #{Date.parse(@full_time.chars.last(10).join).strftime('%B %d, %Y')}" %>
          <% else %>
            <% holder = "select dates" %>
          <% end %>
          <%= f.input :start_time, as: :string, input_html: { id: "start_time" }, placeholder: holder, label: false %>
        </div>
        <div class="form-input light">
          <%= f.input :size, collection: %w[Child Adult Hagrid], selected: @size, include_blank: true, label: false %>
        </div>
        <%= f.button :submit, value: "Find Masks", class: "primary-button search", label: false %>
    <% end %>
  </div>
  <br>

  <div class="search-body">
    <div class="search-container">
      <div class="row">
        <% @masks.each do |mask| %>
          <div class="col-12">
            <%= link_to mask_path(mask), class:"clickable-card" do %>
              <div class="card-container">
                <div class="card-image-section">
                  <% if mask.photo.attached? %>
                    <%= cl_image_tag mask.photo.key, :width=>180, :height=>200, crop: :fill %>
                  <% else %>
                    <%=  image_tag("borat_mask.jpg", class:"card-image") %>
                  <% end %>
                </div>
                <div class="card-details-section">
                  <div class="card-all-details">
                    <h4><%= mask.name %></h4>
                    <h5><%= mask.description %></h5>
                    <br>
                    <p>condition: <%= mask.condition %></p>
                    <p>size: <%= mask.size %></p>
                    <p><%= mask.user.address %></p>
                    <p><%= "#{mask.start_time} - #{mask.end_time}" %></p>
                  </div>
                  <div class="price">
                    <h4><%= mask.price %>€ / day</h4>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="map"
    style="width: auto; height: 200px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>






