<div><%= link_to 'add mask', new_mask_path, class: "btn btn-primary" %></div>

<div> <!-- Masks container -->
  <h3><%= @user.first_name %> masks:</h3>
  <hr>
  <% @user.masks.each do |mask| %>

    <div> <!-- Mask card -->
      <p><%= mask.description %></p>
      <p><%= mask.condition %></p>
      <p><%= mask.size %></p>
      <% if mask.start_time && mask.end_time %>

        <div> <!-- Listing information -->

          <h5>Listed</h5>
          <p>from: <%= mask.start_time %></p>
          <p>to: <%= mask.end_time %></p>
          <p>price: <%= mask.price %></p>
          <%= link_to 'edit listing', edit_mask_path(mask.id), class: "far fa-edit" %>

        </div> <!-- /Listing information -->

      <% else %>

        <p>this mask is not yet on the market. List it now!</p>
        <%= link_to 'add listing', edit_mask_path(mask.id), class: "fas fa-plus" %>
      <% end %>
      <hr>
    </div> <!-- /Mask card -->

  <% end %>

</div> <!-- /Masks container -->

<div> <!-- Reservations(customer) container -->
  <h3><%= @user.first_name %> reservations as customer:</h3>
  <hr>
  <% @user.reservations.each do |reservation| %>
    <% if reservation.reservation_status(reservation.start_time, reservation.end_time) != 'expired' %>
      <%= link_to reservation.mask.description, reservation_path(reservation.id) %><br>
      <h5>mask: <%= reservation.mask.name %></h5>
      <p>from: <%= reservation.start_time %></p>
      <p>to: <%= reservation.end_time %></p>
      <p>price: <%= reservation.mask.price %></p>
      <%= link_to 'add review', new_review_path(mask_id: reservation.mask_id, reservation_id: reservation.id), class: 'btn btn-primary' %>
    <% end %>
  <% end %>

</div> <!-- /Reservations(customer) container -->


<div> <!-- Reservations(owner) container -->
  <h3><%= @user.first_name %> reservations as owner:</h3>
  <hr>
  <% @user.masks.each do |mask|
      mask.reservations.each do |reservation| %>
        <% if reservation.reservation_status(reservation.start_time, reservation.end_time) != 'expired' %>
          <%= link_to reservation.mask.description, reservation_path(reservation.id) %>
          <h5>mask: <%= reservation.mask.name %></h5>
          <p>from: <%= reservation.start_time %></p>
          <p>to: <%= reservation.end_time %></p>
          <p>price: <%= reservation.mask.price %></p>
          <%= link_to 'add review', new_review_path, class: 'btn btn-primary' %>
        <% end %>
      <% end %>

  <% end %>

</div> <!-- /Reservations(owner) container -->


<div> <!-- Personal reviews container -->






</div> <!-- /Personal reviews container -->
