<h3><%= @user.first_name %> masks:</h3>
<hr>

<div><%= link_to 'add mask', new_mask_path, class: "btn btn-primary" %></div>

<div> <!-- Masks container -->
  <% @user.masks.each do |mask| %>

    <div> <!-- Mask card -->
      <p><%= mask.description %></p>
      <p><%= mask.condition %></p>
      <p><%= mask.size %></p>
      <% if mask.start_time && mask.end_time %>

        <div> <!-- Listing information -->

          <h5>Listed</h5>
          <p>from: <%= mask.start_time %></p>
          <p>to: <%= mask.end_time %></p>
          <p>price: <%= mask.price %></p>
          <%= link_to 'edit listing', edit_mask_path(mask.id), class: "far fa-edit" %>

        </div> <!-- /Listing information -->

      <% else %>

        <p>this mask is not yet on the market. List it now!</p>
        <%= link_to 'add listing', edit_mask_path(mask.id), class: "fas fa-plus" %>
      <% end %>
      <hr>
    </div> <!-- /Mask card -->

  <% end %>

</div> <!-- /Masks container -->




<div> <!-- Reservations container: mask renters -->

<h5>Reservations:</h5>
<% @reservations_renters.each do |reservation| %>
  <% if reservation.reservation_status(reservation.start_time, reservation.end_time) != 'expired' %>
    <%= link_to reservation.mask.description, reservation_path(reservation.id) %><br>
    <%= reservation.mask.condition %><br>
    <%= reservation.mask.size %><br>
    <%= reservation.start_time %><br>
    <%= reservation.end_time %><br>
    <hr>
  <% end %>
<% end %>


</div> <!-- /Reservations container: mask owners -->


<%= @reservations_owners.each do |reservation| %>
  <% if reservation.reservation_status(reservation.start_time, reservation.end_time) != 'expired' %>
    <%= link_to reservation.mask.description, reservation_path(reservation.id) %>
    <%= reservation.mask.condition %>
    <%= reservation.mask.size %>
    <%= reservation.start_time %>
    <%= reservation.end_time %>
    <%= link_to reservation.mask.description, reservation_path(reservation.id) %>
  <% end %>
<% end %>



<div> <!-- Personal reviews container -->






</div> <!-- /Personal reviews container -->
