<div id="home-container">
  <!-- search bar should go here -->
  <div id="home-search">
    <%= simple_form_for :search, url: masks_path, method: :get do |f| %>
        <div class="form-input-location">
          <%= f.input :location, placeholder: 'Los Angeles', label: false %>
        </div>
        <div class="form-input">
          <%= f.input :start_time, as: :string, input_html: { id: "start_time" }, placeholder: "#{Date.today.strftime("%B %d, %Y")}", label: false %>
        </div>
        <div class="form-input">
          <%= f.input :end_time, as: :string, input_html: { id: "end_time" }, placeholder: "#{Date.tomorrow.strftime("%B %d, %Y")}", label: false %>
        </div>
        <div>
          <%= f.button :submit, value: "Find Masks", class: "btn-dark" %>
        </div>
    <% end %>
  </div>
  <div>
    <h2 id="home-header">Always use protection.</h2>
  </div>
  <div>
    <p id="home-description">Triangular is a new service that allows you to find a mask from a hoarder, Halloween enthusiast, or retired scuba diver near you. <br><br>Have a spare, unused mask lying around at home? Rent it out to someone in need!<br><br>A mask is vital support against global pandemy and is also an indispensable fashion accessory. Wear one for your health, the health of your loved ones, and for Instagram likes.<br><br>Stay safe, always use protection.</p>
  </div>
</div>



