<div class="main-container">
  <div class="title-add-btn">
    <h2>My linstings</h2>
    <%= link_to 'New listing', new_mask_path %>
  </div>


  <div class="listing-container">
    <% @user.masks.each do |mask| %>
      <% unless mask.deleted %>
          <div class="listing-card">
            <!-- left -->
            <div class="listing-img">
              <% if mask.photo.attached? %>
                <%= cl_image_tag mask.photo.key, :width=>200, :height=>200, crop: :fill %>
              <% else %>
                <%=  image_tag("borat_mask.jpg", class: 'image-card-box') %>
              <% end %>
            </div>
            <!-- right -->
            <div class="linsting-info">
              <div class="name-description">
                <p><strong><%= mask.name %></strong></p>
                <p><%= mask.description %></p>

              </div>
              <div class="condition-size">
                <p><%= mask.condition %></p>
                <p><%= mask.size %></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
