<%= render "layouts/navbar" %>

<div class="body-container">
  <div class="body-header">
    <h3>My reservations</h3>
    <div>
      <%= link_to "As renter", pages_reservations_path, class:"inactive-tab" %>
      <span style="display:inline-block; width: 20px;"></span>
      <%= link_to "As owner", pages_reservations_owners_path, class:"active-tab" %>
    </div>
  </div>
  <div class="cards-container">
    <div class="row">
      <% @user.masks.each do |mask|
        mask.reservations.each do |reservation| %>
          <% if reservation.deleted == false %>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <%= link_to reservation_path(reservation), class:"clickable-card" do %>
                <div class="card-container" style="padding: 16px;">
                  <div class="card-image-section">
                    <% if reservation.mask.photo.attached? %>
                      <%= cl_image_tag reservation.mask.photo.key, :width=>180, :height=>200, crop: :fill %>
                    <% else %>
                      <%=  image_tag("borat_mask.jpg", class:"card-image") %>
                    <% end %>
                  </div>
                  <div class="card-details-section">
                    <div class="card-all-details">
                      <div class="card-name-row">
                        <h4><%= reservation.mask.name %></h4>
                        <% if reservation.confirmed %>
                          <div class="button-confirmed">Confirmed</div>
                        <% else %>
                          <div class="button-pending">
                            <% if reservation.reservation_status(reservation.start_time, reservation.end_time) == "expired" %>
                              Past
                            <% else %>
                              Pending
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                      <h5><%= reservation.mask.description %></h5>
                      <br>
                      <p>condition: <%= reservation.mask.condition %></p>
                      <p>size: <%= reservation.mask.size %></p>
                      <p>dates: <%= reservation.mask.start_time %> to <%= reservation.mask.end_time %></p>
                    </div>
                    <div class="price">
                      <h4><%= reservation.mask.price % 1 == 0 ? reservation.mask.price.truncate : reservation.mask.price %>€ / day</h4>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

