<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="reservations">Reservations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="masks">Listings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="reviews">Reviews</a>
  </li>
</ul>
<br>

<div> <!-- REVIEWS CONTAINER -->
  <div> <!-- Reviews(customer, so reviewable=reservation) container -->
    <hr>
    <h3><%= @user.first_name %> reviews as customer:</h3>
    <% @user.reservations.each do |reservation| %>
      <p>review for reservation <%= reservation.id %>:</p>
      <% unless reservation.review.nil? %>
        <%= reservation.review.content %>
        <%= reservation.review.rating %>
      <% end %>
    <% end %>





  </div> <!-- /Reviews(customer, so reviewable=reservation) container -->


  <div> <!-- Reviews(owner, so reviewable=mask) container -->
    <hr>
    <h3><%= @user.first_name %> reviews as owner:</h3>
    <% @user.masks.each do |mask| %>
      <p>reviews for mask: <%= mask.name %></p>
        <% mask.reviews.each do |review| %>
          <%= review.content %>
          <%= review.rating %>
        <% end %>
    <% end %>




  </div> <!-- /Reviews(owner, so reviewable=mask) container -->

</div> <!-- /REVIEWS CONTAINER -->
