<h5><%= @reservation.mask.description %></h5><br>
<%= @reservation.mask.condition %><br>
<%= @reservation.mask.size %><br>
<%= @reservation.mask.price %><br>
<%= @reservation.start_time %><br>
<%= @reservation.end_time %><br>
