<div id="home-background">
  <div class="nav-bar colored">
    <div class="nav-bar-logo">
      <%= link_to image_tag('logo.svg', id:"logo"), pages_home_path %>
    </div>
    <div class="nav-bar-links">
      <!-- TODO: paths need to be validated; everything now may be in pages routes, reevaluate? -->
      <%= link_to "Book", masks_path %>
      <%= link_to "My reservations", pages_reservations_path %>
      <%= link_to "My listings", pages_masks_path %>
      <!-- TODO: replace static image with avatar image of current_user -->
      <%= link_to image_tag('em.jpg', class:"avatar"), pages_home_path %>
    </div>
  </div>
</div>


<!--Navbar -->
<!-- <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
  <a class="navbar-brand" href="#">Triangular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link link-color" href="#">Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item link-color">
        <a class="nav-link" href="#">Book Mask</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> Profile </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="#">My account</a>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->
<!--/.Navbar -->

