<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Triangular</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  </head>

  <body>
    <%= yield %>
    <!-- render 'layouts/footer'  -->

    <!--<p class="notice"><%= notice %>Warning!</p>
      <p class="alert"><%= alert %>Stop!</p> -->

  </body>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
